<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>E9E08569-C4FF-4E77-86B1-875DED7EB0A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43954C00-8809-47C0-9BA0-78B3C79078A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF8EE9BB-41BB-46C8-ADE2-7FDDEE5E3FD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0955E72-7208-4B0A-B604-400F99EEF6C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0955E72-7208-4B0A-B604-400F99EEF6C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9E08569-C4FF-4E77-86B1-875DED7EB0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Minify Clipbard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>minify clipboard</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Minify Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF8EE9BB-41BB-46C8-ADE2-7FDDEE5E3FD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>43954C00-8809-47C0-9BA0-78B3C79078A4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s+</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E9E08569-C4FF-4E77-86B1-875DED7EB0A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0955E72-7208-4B0A-B604-400F99EEF6C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>43954C00-8809-47C0-9BA0-78B3C79078A4</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>E9E08569-C4FF-4E77-86B1-875DED7EB0A1</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>EF8EE9BB-41BB-46C8-ADE2-7FDDEE5E3FD3</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>F0955E72-7208-4B0A-B604-400F99EEF6C8</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
